.header {
  display: flex;
  align-items: center;

  padding: 1rem 4rem;
  -webkit-box-shadow: 0px 11px 5px -9px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 11px 5px -9px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 11px 5px -9px rgba(0, 0, 0, 0.24);
}

.title {
  font-size: 1.5rem;
}
.title a {
  text-decoration: none;
  color: rgb(250, 74, 74);
}

.nav {
  margin-left: 4rem;
}

.nav ul {
  display: flex;
  list-style: none;
  column-gap: 1.5rem;
}
.nav ul li a {
  text-decoration: none;
  color: black;
}

.profile {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.profile__head {
  display: flex;
  column-gap: 0.8rem;
}

.profile__body {
  padding: 1rem;
  border: 0.5px solid rgb(176, 176, 176);
  position: absolute;
  right: 0;
  top: 2.5rem;
  background-color: white;
  display: none;
}

.profile__body ul {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  list-style: none;
}

.profile__body ul li:last-child {
  color: rgb(218, 0, 0);
}

.profile__head figure {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
}
.profile__head figure img {
  border-radius: 50%;
}

.profile__head div {
  display: flex;
  align-items: center;
  column-gap: 0.2rem;
}

.profile__head div img {
  width: 0.6rem;
  height: 0.6rem;
  transform: rotate(270deg);
}

.login_button {
  margin-left: auto;
  display: flex;
  column-gap: 1.5rem;
}
