.table {
  display: flex;
  flex-direction: column;
}

.table__data--border {
  border-bottom: 1px solid rgb(158, 158, 158);
}

.table__data {
  display: flex;
  flex-direction: column;
  background-color: rgb(242, 242, 242);
  color: rgb(101, 101, 101);
}

.table__data {
  border-left: 1px solid rgb(158, 158, 158);
  border-right: 1px solid rgb(158, 158, 158);
}

.table__data__row:last-child {
  border-bottom: 0;
}
